<div class="palm-page-header">
		<div class="palm-page-header-wrapper">
		    <div class="title left">What's new with <b>Jotter</b></div>
		</div>
</div>
<ol>
	<li>We've added multi-line jots.  You can enable it in preferences.</li>
	<li>You can now jot photos, just click the camera icon in the bottom left.</li>
	<li>We've switched to Google's AppEngine api's for more reliable jotting.</li>
</ol>
<div mode="first-use">
<p style="text-align: center; font-weight: bold;">Thanks for using Jotter!</p>
<div x-mojo-element="Button" id="startButton" style="clear: both;"></div>
</div>
<div style="border-top: 1px dashed black; border-bottom: 1px dashed black; padding: 5px;">	
	<center><b>Jotter</b> is a Mijoro App</center>
	<center><img src="images/small_logo.png" style="width: 30%; margin: 5px;"></center>
	<p>
		<b>Mijoro:</b> Two brothers who write simple apps that make your life easier.<BR><BR>More apps at <a href="http://mijoro.com?from=jotter">Mijoro.com</a>
	</p>
</div>

<p style="margin-top: 5px;">Wanna Chat? <a href="mailto:Feedback@mijoro.com">Feedback@mijoro.com</a></p>


