<div class="palm-page-header">
		<div class="palm-page-header-wrapper">
		    <div class="title center">Welcome to <b>Jotter!</b></div>
		</div>
</div>

<center><img src="images/jotter.png" style="width: 30%; margin: 5px;"></center>

<center><b>Using Jotter:</b></center>
<ol>
	<li>Enter your email address<br>(Email is saved for next time)</li>
	<li>Jot down a note</li>
	<li>Press Enter</li>
</ol>
<div mode="first-use">
<p style="text-align: center; font-weight: bold;">That's it!</p>
<div x-mojo-element="Button" id="startButton" style="clear: both;"></div>
</div>
<div style="border-top: 1px dashed black; border-bottom: 1px dashed black; padding: 5px;">	
	<center><b>Jotter</b> is a Mijoro App</center>
	<center><img src="images/small_logo.png" style="width: 30%; margin: 5px;"></center>
	<p>
		<b>Mijoro:</b> Two brothers who write simple apps that make your life easier.<BR><BR>More apps at <a href="http://mijoro.com?from=jotter">Mijoro.com</a>
	</p>
</div>

<p style="margin-top: 5px;">Wanna Chat? <a href="mailto:Feedback@mijoro.com">Feedback@mijoro.com</a></p>


