<div class="palm-page-header">
		<div class="palm-page-header-wrapper">
		    <div class="title left">Jotter Preferences</div>
		</div>
</div>
<div class="palm-row">
    <div class="palm-row-wrapper">
     <div class="textfield-group" x-mojo-focus-highlight="true">
      <div class="title">
		<div class="label" x-mojo-element="ToggleButton" id="MultilineToggle"></div>
		Enable Multiline Jots
		
        
      </div>
      </div>
    </div>
</div>
</div>
<div id="FeedbackButton" x-mojo-element="Button"></div>