<div id="TopStuffHolder">
<div class="palm-page-header multi-line">

     <div class="palm-page-header-wrapper">
        <div class="icon" style="background-image:url(icon48.png)"></div>
        <div id="Message" class="title">
          Jotter
        </div>
     </div>

</div>

<div class="palm-row">
    <div class="palm-row-wrapper">
     <div class="textfield-group" x-mojo-focus-highlight="true">
      <div class="title">
            <div id="EmailField" x-mojo-element="TextField"></div>
      </div>
      </div>
    </div>
</div>
</div>

<div class="palm-row"  style="height:100%">
    <div  style="height:100%" class="palm-row-wrapper">
     <div class="textfield-group" style="height:100%" x-mojo-focus-highlight="true">
      <div style="height:100%" class="title">

            <div id="JotField"  style="height:100%" x-mojo-element="TextField"></div>
      </div>
      </div>
    </div>
</div>